html,
body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            color: #333;
        }
        header {
            background: #1e1e1e;
            color: #fff;
            padding: 20px 40px;
            text-align: center;
        }
        nav {
            background: #333;
            padding: 10px 40px;
            display: flex;
            gap: 20px;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
        .hero {
            padding: 60px 40px;
            background: #222;
            color: #fff;
            text-align: center;
        }
        .hero h1 {
            font-size: 48px;
        }
        .section {
            padding: 40px;
            max-width: 1000px;
            margin: auto;
            width: 100%;
        }
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }
        .card {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            text-align: center;
            cursor: pointer;
        }
        .card img {
            width: 100%;
            height: 160px;
            object-fit: cover;
            border-radius: 8px;
        }

        .products2 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
            gap: 20px;
        }

        footer {
            margin-top: 40px;
            background: #1e1e1e;
            color: #fff;
            padding: 20px;
            text-align: center;
            bottom: 0;
        }

        mennu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #333;
            padding: 10px 40px;
            display: flex;
            gap: 20px;
        }
        mennu a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }

        .btn {
            padding: 6px 14px;
            font-size: 14px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            transition: 0.25s ease;
            font-family: Arial, sans-serif;
        }
        .btn-primary {
            background-color: #2563eb;
            color: #fff;
        }
        .btn-primary:hover {
            background-color: #1e40af;
        }
        .btn-secondary {
            background-color: #e5e7eb;
            color: #111827;
        }
        .btn-secondary:hover {
            background-color: #d1d5db;
        }
        
        .btn-standart {
            background-color: #e5e7eb;
            color: #111827;
        }
        .btn-standart:hover {
            background-color: #d1d5db;
        }

        
        .modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.5);
        }
        .modal-content {
        background: #fff;
        width: 400px;
        margin: 100px auto;
        padding: 20px;
        border-radius: 8px;
        }
        .modal-content input {
        width: 100%;
        margin: 8px 0;
        padding: 8px;
        }
        .modal-actions {
        display: flex;
        justify-content: space-between;
        }